### Step 1: Import Datasets and merge

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load macroeconomic and forex datasets
macro = pd.read_csv("macro_data.csv", parse_dates=["DATE"]).set_index("DATE")
forex = pd.read_csv("forex_merged_cleaned.csv", parse_dates=["DATE"]).set_index("DATE")

In [3]:
print("Macro Data:")
print(macro.head(25))

print("\nForex Data:")
print(forex.head(25))

Macro Data:
            Trade Balance  Inflation (CPI)  Core Inflation  Interest Rate  \
DATE
2002-01-01       -29678.0            177.7           188.7           1.73
2002-02-01       -32501.0            178.0           189.1           1.74
2002-03-01       -31161.0            178.5           189.2           1.73
2002-04-01       -33965.0            179.3           189.7           1.75
2002-05-01       -34026.0            179.5           190.0           1.75
2002-06-01       -34732.0            179.6           190.2           1.75
2002-07-01       -33913.0            180.0           190.5           1.73
2002-08-01       -36385.0            180.5           191.1           1.74
2002-09-01       -36088.0            180.8           191.3           1.75
2002-10-01       -35095.0            181.2           191.5           1.75
2002-11-01       -39515.0            181.5           191.9           1.34
2002-12-01       -43607.0            181.8           192.1           1.24
2003-01-01       -41156.0            182.6           192.4           1.24
2003-02-01       -40082.0            183.6           192.5           1.26
2003-03-01       -43806.0            183.9           192.5           1.25
2003-04-01       -42037.0            183.2           192.5           1.26
2003-05-01       -41045.0            182.9           192.9           1.26
2003-06-01       -39696.0            183.1           193.0           1.22
2003-07-01       -41321.0            183.7           193.4           1.01
2003-08-01       -39892.0            184.5           193.6           1.03
2003-09-01       -41842.0            185.1           193.7           1.01
2003-10-01       -41388.0            184.9           194.0           1.01
2003-11-01       -39898.0            185.0           194.0           1.00
2003-12-01       -44080.0            185.5           194.2           0.98
2004-01-01       -44645.0            186.3           194.6           1.00

            Industrial Production  Retail Sales  Consumer Sentiment  \
DATE
2002-01-01                88.4634      283508.0                93.0
2002-02-01                88.4578      285054.0                90.7
2002-03-01                89.1265      284262.0                95.7
2002-04-01                89.5507      288833.0                93.0
2002-05-01                89.9348      284951.0                96.9
2002-06-01                90.6736      287372.0                92.4
2002-07-01                90.6436      290385.0                88.1
2002-08-01                90.5505      292650.0                87.6
2002-09-01                90.6373      288410.0                86.1
2002-10-01                90.3988      289576.0                80.6
2002-11-01                90.8947      291484.0                84.2
2002-12-01                90.3906      293947.0                86.7
2003-01-01                91.1369      295248.0                82.4
2003-02-01                91.2505      291167.0                79.9
2003-03-01                91.0006      296325.0                77.6
2003-04-01                90.4311      295600.0                86.0
2003-05-01                90.4000      296410.0                92.1
2003-06-01                90.5196      299626.0                89.7
2003-07-01                90.9869      302747.0                90.9
2003-08-01                90.7933      307809.0                89.3
2003-09-01                91.3819      305933.0                87.7
2003-10-01                91.5049      304809.0                89.6
2003-11-01                92.1265      308527.0                93.7
2003-12-01                92.1732      307407.0                92.6
2004-01-01                92.3268      309254.0               103.8

            Unemployment Rate  Manufacturing PMI  S&P 500 Index  VIX Index
DATE
2002-01-01                5.7                NaN            NaN        NaN
2002-02-01                5.7               47.5        1130.21      21.09
2002-03-01                5.7               50.7        1106.73      21.59
2002-04-01                5.9               52.4        1147.39      17.40
2002-05-01                5.8               52.4        1076.92      21.91
2002-06-01                5.8               53.1        1067.14      19.98
2002-07-01                5.8               53.6         989.81      25.40
2002-08-01                5.7               50.2         911.62      32.03
2002-09-01                5.7               50.3         916.07      32.64
2002-10-01                5.7               50.5         815.28      39.69
2002-11-01                5.9               49.0         885.76      31.14
2002-12-01                6.0               48.5         936.31      27.50
2003-01-01                5.8               51.6         879.82      28.62
2003-02-01                5.9               51.3         855.70      31.17
2003-03-01                5.9               48.8         841.15      29.63
2003-04-01                6.0               46.3         848.18      29.15
2003-05-01                6.1               46.1         916.92      21.21
2003-06-01                6.3               49.0         963.59      19.47
2003-07-01                6.2               49.0         974.50      19.52
2003-08-01                6.1               51.0         990.31      19.49
2003-09-01                6.1               53.2        1008.01      18.63
2003-10-01                6.0               52.4         995.97      22.72
2003-11-01                5.8               55.2        1050.71      16.10
2003-12-01                5.7               58.4        1058.20      16.32
2004-01-01                5.7               60.1        1111.92      18.31

Forex Data:
             USD-AUD  USD-CAD  USD-CHF  USD-CNY   USD-EUR   USD-GBP  USD-HKD  \
DATE
2002-02-01  1.969667   1.5891   1.7193   8.2766  1.163603  0.708818   7.7993
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.705517   7.7994
2002-04-01  1.876877   1.5949   1.6813   8.2774  1.147184  0.701311   7.7998
2002-05-01  1.857700   1.5677   1.6175   8.2773  1.110494  0.685871   7.7991
2002-06-01  1.762425   1.5279   1.5678   8.2765  1.070435  0.687144   7.7998
2002-07-01  1.774938   1.5174   1.4810   8.2771  1.008573  0.652103   7.7994
2002-08-01  1.842978   1.5842   1.4852   8.2766  1.022913  0.639509   7.7999
2002-09-01  1.816530   1.5585   1.4988   8.2768  1.018019  0.644953   7.8000
2002-10-01  1.842978   1.5868   1.4752   8.2772  1.013582  0.637592   7.7997
2002-11-01  1.802776   1.5584   1.4767   8.2772  1.009795  0.638937   7.7996
2002-12-01  1.782531   1.5653   1.4832   8.2772  1.005733  0.642055   7.7989
2003-01-01  1.780627   1.5718   1.3836   8.2770  0.953107  0.621118   7.7987
2003-02-01  1.703287   1.5195   1.3639   8.2769  0.928678  0.607423   7.8000
2003-03-01  1.643385   1.4846   1.3520   8.2775  0.925326  0.635970   7.7994
2003-04-01  1.654260   1.4673   1.3514   8.2774  0.916170  0.631832   7.7992
2003-05-01  1.595660   1.4301   1.3547   8.2770  0.894134  0.625586   7.7994
2003-06-01  1.531863   1.3666   1.2979   8.2768  0.848608  0.611098   7.7988
2003-07-01  1.484561   1.3467   1.3509   8.2775  0.868659  0.604376   7.7986
2003-08-01  1.541307   1.4043   1.3709   8.2773  0.890313  0.620810   7.7993
2003-09-01  1.544402   1.3865   1.3999   8.2771  0.910415  0.633834   7.7994
2003-10-01  1.470372   1.3521   1.3192   8.2770  0.857854  0.601757   7.7418
2003-11-01  1.411233   1.3198   1.3395   8.2766  0.862589  0.589727   7.7642
2003-12-01  1.380643   1.3008   1.2910   8.2770  0.833611  0.580653   7.7650
2004-01-01  1.329787   1.2970   1.2391   8.2767  0.793966  0.559973   7.7638
2004-02-01  1.308558   1.3252   1.2565   8.2768  0.801410  0.548306   7.7771

            USD-JPY   USD-NZD  USD-XAU
DATE
2002-02-01   134.68  2.402691  0.00353
2002-03-01   133.36  2.371354  0.00337
2002-04-01   132.73  2.270663  0.00330
2002-05-01   128.54  2.235636  0.00324
2002-06-01   124.22  2.080732  0.00306
2002-07-01   119.47  2.052967  0.00318
2002-08-01   119.85  2.150075  0.00329
2002-09-01   118.46  2.131742  0.00319
2002-10-01   121.81  2.132651  0.00309
2002-11-01   122.48  2.058037  0.00314
2002-12-01   122.55  2.007226  0.00314
2003-01-01   118.79  1.906578  0.00287
2003-02-01   119.87  1.834526  0.00271
2003-03-01   118.10  1.786671  0.00285
2003-04-01   118.09  1.801802  0.00296
2003-05-01   118.88  1.779359  0.00295
2003-06-01   119.30  1.733403  0.00274
2003-07-01   119.80  1.701838  0.00288
2003-08-01   120.55  1.720282  0.00282
2003-09-01   116.92  1.729206  0.00266
2003-10-01   111.50  1.680108  0.00259
2003-11-01   109.94  1.629726  0.00260
2003-12-01   109.63  1.562256  0.00251
2004-01-01   107.22  1.525320  0.00240
2004-02-01   105.71  1.483680  0.00248

In [10]:
# Convert exchange rates to log returns
log_returns = np.log(forex / forex.shift(1))
log_returns = log_returns.dropna()
log_returns.columns = [col + " Return" for col in log_returns.columns]

In [17]:
# Align and merge macro with log returns on DATE
full_df = pd.merge(macro, log_returns, left_index=True, right_index=True, how='inner')
# Drop rows with any missing data (can customize later)
full_df = full_df.dropna()
full_df.head()

,Trade Balance,Inflation (CPI),Core Inflation,Interest Rate,Industrial Production,Retail Sales,Consumer Sentiment,Unemployment Rate,Manufacturing PMI,S&P 500 Index,...,USD-AUD Return,USD-CAD Return,USD-CHF Return,USD-CNY Return,USD-EUR Return,USD-GBP Return,USD-HKD Return,USD-JPY Return,USD-NZD Return,USD-XAU Return
DATE,,,,,,,,,,,,,,,,,,,,,
2002-03-01,-31161.0,178.5,189.2,1.73,89.1265,284262.0,95.7,5.7,50.7,1106.73,...,-0.020278,0.007835,-0.013291,-0.000012,-0.011569,-0.004667,0.000013,-0.009849,-0.013128,-0.046385
2002-04-01,-33965.0,179.3,189.7,1.75,89.5507,288833.0,93.0,5.9,52.4,1147.39,...,-0.027978,-0.004192,-0.009059,0.000109,-0.002642,-0.005979,0.000051,-0.004735,-0.043389,-0.020990
2002-05-01,-34026.0,179.5,190.0,1.75,89.9348,284951.0,96.9,5.8,52.4,1076.92,...,-0.010270,-0.017201,-0.038686,-0.000012,-0.032505,-0.022262,-0.000090,-0.032077,-0.015546,-0.018349
2002-06-01,-34732.0,179.6,190.2,1.75,90.6736,287372.0,92.4,5.8,53.1,1067.14,...,-0.052648,-0.025715,-0.031208,-0.000097,-0.036740,0.001854,0.000090,-0.034186,-0.071806,-0.057158
2002-07-01,-33913.0,180.0,190.5,1.73,90.6436,290385.0,88.1,5.8,53.6,989.81,...,0.007075,-0.006896,-0.056956,0.000072,-0.059528,-0.052341,-0.000051,-0.038989,-0.013434,0.038466

### Step 2: Run OLS Regression per Currency

In [21]:
import statsmodels.api as sm

# 1. Identify columns
macro_vars = macro.columns.tolist()
fx_targets = [col for col in full_df.columns if "Return" in col]

# 2. Store results
results = []

# 3. Loop through each currency return and run OLS
for target in fx_targets:
    X = full_df[macro_vars]
    y = full_df[target]
    
    # Add intercept
    X_const = sm.add_constant(X)
    
    # Fit OLS model
    model = sm.OLS(y, X_const).fit()
    
    # Store results
    results.append({
        "Currency": target.replace(" Return", ""),
        "R_squared": model.rsquared,
        "Adj_R_squared": model.rsquared_adj,
        "Coefficients": model.params.to_dict(),
        "P_values": model.pvalues.to_dict()
    })

In [31]:
# Flatten into a readable summary table
summary = pd.DataFrame({
    "Currency": [res["Currency"] for res in results],
    "R_squared": [res["R_squared"] for res in results],
    "Adj_R_squared": [res["Adj_R_squared"] for res in results]
})

summary.sort_values("R_squared", ascending=False, inplace=True)
summary.head(10)

  Currency  R_squared  Adj_R_squared
0  USD-AUD   0.211995       0.179161
8  USD-NZD   0.190837       0.157121
1  USD-CAD   0.173453       0.139014
5  USD-GBP   0.140995       0.105203
4  USD-EUR   0.104982       0.067689
7  USD-JPY   0.086948       0.048904
3  USD-CNY   0.076104       0.037608
2  USD-CHF   0.070586       0.031860
9  USD-XAU   0.058102       0.018856
6  USD-HKD   0.036166      -0.003994

In [39]:
# Create a DataFrame with currencies as rows and macro variables as columns
coeff_matrix = pd.DataFrame()

# Loop through results and pull each currency's coefficients
for res in results:
    currency = res["Currency"]
    coeffs = res["Coefficients"]
    
    # Convert to Series and name it with the currency
    coeff_series = pd.Series(coeffs, name=currency)
    
    # Append as a new row to the matrix
    coeff_matrix = pd.concat([coeff_matrix, coeff_series.to_frame().T], axis=0)

# Set currency names as the index
coeff_matrix.index.name = "Currency"

# Drop the constant (intercept) column if you only want macro variable effects
coeff_matrix = coeff_matrix.drop(columns="const", errors='ignore')

pd.set_option('display.float_format', '{:.9f}'.format)
coeff_matrix.head(10)

,Trade Balance,Inflation (CPI),Core Inflation,Interest Rate,Industrial Production,Retail Sales,Consumer Sentiment,Unemployment Rate,Manufacturing PMI,S&P 500 Index,VIX Index
Currency,,,,,,,,,,,
USD-AUD,-0.000000249,0.006025727,-0.005484707,0.000599187,-0.000422744,-0.000000109,0.001723048,-0.004336749,0.000503811,0.000000479,0.002766078
USD-CAD,-0.000000199,0.002020702,-0.001500754,-0.000165796,0.001123213,-0.000000144,0.000700578,-0.001222078,0.000114279,-0.000000634,0.001703703
USD-CHF,-0.000000414,0.002974896,-0.002984984,-0.000803831,-0.000707860,0.000000127,0.001171354,-0.000521073,-0.000196270,-0.000008066,0.001062488
USD-CNY,-0.000000026,0.000315574,-0.000237144,-0.000189358,-0.000532364,0.000000065,0.000217461,-0.001201075,0.000005027,-0.000006502,0.000235927
USD-EUR,-0.000000261,0.003144222,-0.002880174,-0.000864770,-0.000236976,-0.000000019,0.000876409,-0.001417752,0.000284979,-0.000002341,0.001302293
USD-GBP,-0.000000616,0.001721159,-0.001040305,-0.002424515,-0.000029768,-0.000000096,0.000614166,-0.003079519,-0.000268299,-0.000012180,0.001171903
USD-HKD,-0.000000013,-0.000019881,0.000012239,-0.000090273,-0.000020606,0.000000009,0.000000931,-0.000084403,0.000032039,-0.000000701,-0.000005488
USD-JPY,-0.000000222,0.002078786,-0.002745991,-0.001640448,-0.000873885,0.000000337,0.000651699,0.001269367,-0.000577126,-0.000007766,-0.000296356
USD-NZD,-0.000000345,0.005211314,-0.004893475,0.000470543,0.000003592,-0.000000005,0.001580889,-0.003349771,0.000251844,-0.000004315,0.002770340
USD-XAU,0.000000012,0.004724525,-0.005302977,-0.004007048,-0.001148365,0.000000281,0.001366186,-0.002491674,-0.000493926,-0.000003669,0.000937486

### STEP 3: Train a Predictive Model