### Step 1: Import Datasets and merge

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load macroeconomic and forex datasets
macro = pd.read_csv("macro_data.csv", parse_dates=["DATE"]).set_index("DATE")
forex = pd.read_csv("forex_merged_cleaned.csv", parse_dates=["DATE"]).set_index("DATE")

In [12]:
print("Macro Data:")
print(macro.head(25))

print("\nForex Data:")
print(forex.head(25))

Macro Data:
            Trade Balance  Inflation (CPI)  Core Inflation  Interest Rate  \
DATE
2002-01-01       -29678.0            177.7           188.7           1.73
2002-02-01       -32501.0            178.0           189.1           1.74
2002-03-01       -31161.0            178.5           189.2           1.73
2002-04-01       -33965.0            179.3           189.7           1.75
2002-05-01       -34026.0            179.5           190.0           1.75
2002-06-01       -34732.0            179.6           190.2           1.75
2002-07-01       -33913.0            180.0           190.5           1.73
2002-08-01       -36385.0            180.5           191.1           1.74
2002-09-01       -36088.0            180.8           191.3           1.75
2002-10-01       -35095.0            181.2           191.5           1.75
2002-11-01       -39515.0            181.5           191.9           1.34
2002-12-01       -43607.0            181.8           192.1           1.24
2003-01-01       -41156.0            182.6           192.4           1.24
2003-02-01       -40082.0            183.6           192.5           1.26
2003-03-01       -43806.0            183.9           192.5           1.25
2003-04-01       -42037.0            183.2           192.5           1.26
2003-05-01       -41045.0            182.9           192.9           1.26
2003-06-01       -39696.0            183.1           193.0           1.22
2003-07-01       -41321.0            183.7           193.4           1.01
2003-08-01       -39892.0            184.5           193.6           1.03
2003-09-01       -41842.0            185.1           193.7           1.01
2003-10-01       -41388.0            184.9           194.0           1.01
2003-11-01       -39898.0            185.0           194.0           1.00
2003-12-01       -44080.0            185.5           194.2           0.98
2004-01-01       -44645.0            186.3           194.6           1.00

            Industrial Production  Retail Sales  Consumer Sentiment  \
DATE
2002-01-01                88.4634      283508.0                93.0
2002-02-01                88.4578      285054.0                90.7
2002-03-01                89.1265      284262.0                95.7
2002-04-01                89.5507      288833.0                93.0
2002-05-01                89.9348      284951.0                96.9
2002-06-01                90.6736      287372.0                92.4
2002-07-01                90.6436      290385.0                88.1
2002-08-01                90.5505      292650.0                87.6
2002-09-01                90.6373      288410.0                86.1
2002-10-01                90.3988      289576.0                80.6
2002-11-01                90.8947      291484.0                84.2
2002-12-01                90.3906      293947.0                86.7
2003-01-01                91.1369      295248.0                82.4
2003-02-01                91.2505      291167.0                79.9
2003-03-01                91.0006      296325.0                77.6
2003-04-01                90.4311      295600.0                86.0
2003-05-01                90.4000      296410.0                92.1
2003-06-01                90.5196      299626.0                89.7
2003-07-01                90.9869      302747.0                90.9
2003-08-01                90.7933      307809.0                89.3
2003-09-01                91.3819      305933.0                87.7
2003-10-01                91.5049      304809.0                89.6
2003-11-01                92.1265      308527.0                93.7
2003-12-01                92.1732      307407.0                92.6
2004-01-01                92.3268      309254.0               103.8

            Unemployment Rate  Manufacturing PMI  S&P 500 Index  VIX Index
DATE
2002-01-01                5.7                NaN            NaN        NaN
2002-02-01                5.7               47.5        1130.21      21.09
2002-03-01                5.7               50.7        1106.73      21.59
2002-04-01                5.9               52.4        1147.39      17.40
2002-05-01                5.8               52.4        1076.92      21.91
2002-06-01                5.8               53.1        1067.14      19.98
2002-07-01                5.8               53.6         989.81      25.40
2002-08-01                5.7               50.2         911.62      32.03
2002-09-01                5.7               50.3         916.07      32.64
2002-10-01                5.7               50.5         815.28      39.69
2002-11-01                5.9               49.0         885.76      31.14
2002-12-01                6.0               48.5         936.31      27.50
2003-01-01                5.8               51.6         879.82      28.62
2003-02-01                5.9               51.3         855.70      31.17
2003-03-01                5.9               48.8         841.15      29.63
2003-04-01                6.0               46.3         848.18      29.15
2003-05-01                6.1               46.1         916.92      21.21
2003-06-01                6.3               49.0         963.59      19.47
2003-07-01                6.2               49.0         974.50      19.52
2003-08-01                6.1               51.0         990.31      19.49
2003-09-01                6.1               53.2        1008.01      18.63
2003-10-01                6.0               52.4         995.97      22.72
2003-11-01                5.8               55.2        1050.71      16.10
2003-12-01                5.7               58.4        1058.20      16.32
2004-01-01                5.7               60.1        1111.92      18.31

Forex Data:
             USD-AUD  USD-CAD  USD-CHF  USD-CNY   USD-EUR   USD-GBP  USD-HKD  \
DATE
2002-02-01  1.969667   1.5891   1.7193   8.2766  1.163603  0.708818   7.7993
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.706115   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.702593   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.706364   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.708015   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.707214   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.703334   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.697983   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.699937   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.698812   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.706714   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.700182   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.698324   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.704622   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.705667   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.701705   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.705517   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.701066   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.700624   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.698617   7.7994
2002-03-01  1.930129   1.6016   1.6966   8.2765  1.150219  0.697983   7.7994
2002-04-01  1.876877   1.5949   1.6813   8.2774  1.147184  0.706664   7.7998
2002-04-01  1.876877   1.5949   1.6813   8.2774  1.147184  0.705368   7.7998
2002-04-01  1.876877   1.5949   1.6813   8.2774  1.147184  0.702691   7.7998
2002-04-01  1.876877   1.5949   1.6813   8.2774  1.147184  0.702099   7.7998

            USD-JPY   USD-NZD  USD-XAU
DATE
2002-02-01   134.68  2.402691  0.00353
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-03-01   133.36  2.371354  0.00337
2002-04-01   132.73  2.270663  0.00330
2002-04-01   132.73  2.270663  0.00330
2002-04-01   132.73  2.270663  0.00330
2002-04-01   132.73  2.270663  0.00330

In [14]:
# Convert exchange rates to log returns
log_returns = np.log(forex / forex.shift(1))
log_returns = log_returns.dropna()
log_returns.columns = [col + " Return" for col in log_returns.columns]

In [20]:
# Align and merge macro with log returns on DATE
full_df = pd.merge(macro, log_returns, left_index=True, right_index=True, how='inner')
# Drop rows with any missing data (can customize later)
full_df = full_df.dropna()
print(full_df.head(25))

            Trade Balance  Inflation (CPI)  Core Inflation  Interest Rate  \
DATE
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-03-01       -31161.0            178.5           189.2           1.73
2002-04-01       -33965.0            179.3           189.7           1.75
2002-04-01       -33965.0            179.3           189.7           1.75
2002-04-01       -33965.0            179.3           189.7           1.75
2002-04-01       -33965.0            179.3           189.7           1.75
2002-04-01       -33965.0            179.3           189.7           1.75

            Industrial Production  Retail Sales  Consumer Sentiment  \
DATE
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-03-01                89.1265      284262.0                95.7
2002-04-01                89.5507      288833.0                93.0
2002-04-01                89.5507      288833.0                93.0
2002-04-01                89.5507      288833.0                93.0
2002-04-01                89.5507      288833.0                93.0
2002-04-01                89.5507      288833.0                93.0

            Unemployment Rate  Manufacturing PMI  S&P 500 Index  ...  \
DATE                                                             ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-03-01                5.7               50.7        1106.73  ...
2002-04-01                5.9               52.4        1147.39  ...
2002-04-01                5.9               52.4        1147.39  ...
2002-04-01                5.9               52.4        1147.39  ...
2002-04-01                5.9               52.4        1147.39  ...
2002-04-01                5.9               52.4        1147.39  ...

            USD-AUD Return  USD-CAD Return  USD-CHF Return  USD-CNY Return  \
DATE
2002-03-01       -0.020278        0.007835       -0.013291       -0.000012
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-03-01        0.000000        0.000000        0.000000        0.000000
2002-04-01       -0.027978       -0.004192       -0.009059        0.000109
2002-04-01        0.000000        0.000000        0.000000        0.000000
2002-04-01        0.000000        0.000000        0.000000        0.000000
2002-04-01        0.000000        0.000000        0.000000        0.000000
2002-04-01        0.000000        0.000000        0.000000        0.000000

            USD-EUR Return  USD-GBP Return  USD-HKD Return  USD-JPY Return  \
DATE
2002-03-01       -0.011569       -0.003820        0.000013       -0.009849
2002-03-01        0.000000       -0.005001        0.000000        0.000000
2002-03-01        0.000000        0.005354        0.000000        0.000000
2002-03-01        0.000000        0.002334        0.000000        0.000000
2002-03-01        0.000000       -0.001132        0.000000        0.000000
2002-03-01        0.000000       -0.005501        0.000000        0.000000
2002-03-01        0.000000       -0.007637        0.000000        0.000000
2002-03-01        0.000000        0.002796        0.000000        0.000000
2002-03-01        0.000000       -0.001609        0.000000        0.000000
2002-03-01        0.000000        0.011244        0.000000        0.000000
2002-03-01        0.000000       -0.009285        0.000000        0.000000
2002-03-01        0.000000       -0.002657        0.000000        0.000000
2002-03-01        0.000000        0.008979        0.000000        0.000000
2002-03-01        0.000000        0.001481        0.000000        0.000000
2002-03-01        0.000000       -0.005629        0.000000        0.000000
2002-03-01        0.000000        0.005418        0.000000        0.000000
2002-03-01        0.000000       -0.006330        0.000000        0.000000
2002-03-01        0.000000       -0.000631        0.000000        0.000000
2002-03-01        0.000000       -0.002868        0.000000        0.000000
2002-03-01        0.000000       -0.000908        0.000000        0.000000
2002-04-01       -0.002642        0.012361        0.000051       -0.004735
2002-04-01        0.000000       -0.001836        0.000000        0.000000
2002-04-01        0.000000       -0.003802        0.000000        0.000000
2002-04-01        0.000000       -0.000843        0.000000        0.000000
2002-04-01        0.000000        0.001054        0.000000        0.000000

            USD-NZD Return  USD-XAU Return
DATE
2002-03-01       -0.013128       -0.046385
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-03-01        0.000000        0.000000
2002-04-01       -0.043389       -0.020990
2002-04-01        0.000000        0.000000
2002-04-01        0.000000        0.000000
2002-04-01        0.000000        0.000000
2002-04-01        0.000000        0.000000

[25 rows x 21 columns]